<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>{{ 'customer.login.title' | t }}</title>
  {{ content_for_header }}
  {{ 'theme.css' | asset_url | stylesheet_tag }}
</head>
<body>
  {% render 'header' %}
  <main class="customer-template">
    <div class="customer-form-wrapper">
      <h1>{{ 'customer.login.title' | t }}</h1>
      {% form 'customer_login' %}
        <div class="form-group">
          <label class="form-label" for="customer-email">{{ 'customer.login.email' | t }}</label>
          <input type="email" id="customer-email" name="customer[email]" class="form-input" required>
        </div>
        <div class="form-group">
          <label class="form-label" for="customer-password">{{ 'customer.login.password' | t }}</label>
          <input type="password" id="customer-password" name="customer[password]" class="form-input" required>
        </div>
        <button type="submit" class="btn-gold">{{ 'customer.login.submit' | t }}</button>
      {% endform %}
      <p><a href="/account/register">{{ 'customer.login.create_account' | t }}</a></p>
    </div>
  </main>
  {{ 'theme.js' | asset_url | script_tag }}
</body>
</html>
