<!doctype html>
<html lang="{{ request.locale.iso_code | default: 'en' }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_background }}">
  <title>{{ page_title }}{% if current_tags %} &ndash; Tagged "{{ current_tags | join: ', ' }}"{% endif %}{% if current_page != 1 %} &ndash; Page {{ current_page }}{% endif %}</title>
  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
  {% endif %}
  {{ content_for_header }}
  {{ 'theme.css' | asset_url | stylesheet_tag }}
</head>

<body class="template-{{ template.name }}">
  <a class="skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>

  {% render 'header' %}

  <main id="MainContent" class="main-content" tabindex="-1">
    {{ content_for_layout }}
  </main>

  {% render 'footer' %}

  {% render 'cart-drawer' %}
  {% render 'size-guide-modal' %}
  {{ 'theme.js' | asset_url | script_tag }}
</body>
</html>
