<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>{{ page_title }} - {{ shop.name }}</title>
  {{ content_for_header }}
  {{ 'theme.css' | asset_url | stylesheet_tag }}
</head>
<body>
  {% render 'header' %}
  <main id="main">
    {% if template == 'index' %}
      {{ content_for_index }}
    {% else %}
      {{ content_for_layout }}
    {% endif %}
  </main>
  {% render 'cart-drawer' %}
  {{ 'theme.js' | asset_url | script_tag }}
</body>
</html>
