<div class="about-page">
  <div class="about-hero">
    <h1>{{ page.title }}</h1>
  </div>
  <div class="about-content">
    {{ page.content }}
  </div>
  
  <div class="features-grid">
    <div class="feature-box">
      <h3>{{ 'pages.about.quality' | t }}</h3>
      <p>{{ 'pages.about.quality_desc' | t }}</p>
    </div>
    <div class="feature-box">
      <h3>{{ 'pages.about.style' | t }}</h3>
      <p>{{ 'pages.about.style_desc' | t }}</p>
    </div>
    <div class="feature-box">
      <h3>{{ 'pages.about.community' | t }}</h3>
      <p>{{ 'pages.about.community_desc' | t }}</p>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Main Page",
  "settings": [],
  "presets": [
    {
      "name": "Main Page"
    }
  ]
}
{% endschema %}
